*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  min-width: 100%;
  position: relative;
}

.row{
  min-width: 100%;
  background: no-repeat url(./images/tod.jpg);
  background-size: 100%;
  /* opacity: 0.58; */
}

div.layout{
position: absolute;
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
z-index: 100;
  width: 100%;
  top: 0;
  right: 0;
  height: 100%;
  background-color: red;
  display: none;
}

/* logout button */
button#logout{
position: absolute;
z-index: 100;
  width: 3rem;
  top: 0;
  right: 0;
  height: 3rem;
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: red;
  border-radius: 100%;
  font-size: 10px;
}

button#login{
  background-color: rgba(21, 206, 21, 0.322);
  text-align: center;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  outline: .5rem rgb(112, 136, 112) solid;
}

div.hidden{
  display: none;
}

.main{
  width: 30%;
  border-radius: 1.5rem;
  margin-top: 2rem;
  transform: translate(160%);
  height: 800px;
  background-color: rgba(118, 214, 227, 0.521);
}